*,
*::after,
*::before {
  box-sizing: border-box;
}

.App {
  width: 700px;
  margin: 0 auto;
}

.Display {
  background-color: #858694;
  color: white;
  text-align: right;
  font-weight: bold;
  height: 100px;
  line-height: 100px;
  padding-right: 10px;
}

.ButtonPanel {
  width: 100%;
}

.ButtonPanel > * {
  display: flex;
  justify-content: stretch;
  height: 100px;
}

.Button {
  flex-basis: 25%;
  background-color: #e0e0e0;
  border: 1px solid #bababa;
  cursor: pointer;
}

.zero {
  flex-basis: 50%;
}

.operator {
  background-color: #f5913e;
}
